* {
  box-sizing: border-box;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
    float: left;
    padding: 10px;
    border: none;
}

.row::after{
    content: "";
    clear: both;
    display: table;
}

html, body{
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    color: #000a05;
}

hr {
   display: block;
    margin-top: 25px;
    margin-bottom: 25px;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;
    border-color: #000a05;
    height: 5px;
    background-color: #000a05;
    width: 60%;
}


div.landingpage{
    display: block;
	min-height: 100%;
	background-color: mintcream;
    align-content: center;
    
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
    
    padding-top:10%;
}

#landingpage-content h1{
    position: relative;
    font-weight: 500;
    font-size: 64px;
    text-align: center;
    animation: fadein 4s;
}
#landingpage-content h2{
    position: relative;
    font-weight: 300;
    font-size: 20px;
    text-align: center;
    animation: fadein 8s;
}
#landingpage-content p{
    font-size: 14px;
    text-align: center;
    animation: fadein 12s;
}

@keyframes fadein {
    from {opacity: 0; transform: translateY(0);}
    to  {opacity: 1; transform: translateY(100);}
}